$celeste: #cecece
$cocoa-brown: #33251f
$coral-red: #ff3341
$dove-gray: #707070
$green-white: #efe9e0
$judge-gray: #564439
$kabul: #624d41
$oil: #251c18
$roman-coffee: #7a6152
$tobacco-brown: #6e5749
$white: #ffffff
$font-size-l: 30px
$font-size-m: 20px
$font-size-s: 14px
$font-size-xl: 32px
$font-size-xs: 9px
$font-size-xxl: 63px
$font-size-xxxl: 70px
$font-family-montserrat: "Montserrat", Helvetica