.component-14-1-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 77px;
  padding: 0.0px 0;
  width: 94px;
}

.learn-22 {
  letter-spacing: 0;
  line-height: 13px;
  margin-left: 0.98px;
  margin-top: 1px;
  min-height: 18px;
  white-space: nowrap;
}

.component-container-48 {
  height: 12px;
  margin-left: 0.79px;
  margin-top: 15px;
  position: relative;
  width: 93px;
}

.component-container-49 {
  height: 12px;
  margin-top: 18px;
  position: relative;
  width: 44px;
}

