.component-17-3 {
  display: flex;
  height: 63px;
  justify-content: space-between;
  margin-top: 70px;
  position: relative;
  width: 390px;
}

.component-17-3.component-17-3-2,
.component-17-3.component-17-3-7 {
  left: 0;
  margin-top: unset;
  position: absolute;
  top: 500px;
}

.component-17-3.component-17-3-3,
.component-17-3.component-17-3-8 {
  margin-left: 81px;
  margin-top: unset;
}

.component-17-3.component-17-3-4,
.component-17-3.component-17-3-9 {
  left: 83px;
  margin-top: unset;
  position: absolute;
  top: 0;
}

