.component-10-1-5 {
  align-items: flex-start;
  background-color: var(--kabul);
  border-radius: 61px;
  display: flex;
  flex-direction: column;
  left: 37px;
  min-height: 396px;
  padding: 47.4px 33.9px;
  position: absolute;
  top: 0;
  width: 262px;
}

.fire-1 {
  align-self: flex-end;
  height: 37px;
  margin-right: 6.68px;
  margin-top: 5px;
  object-fit: cover;
  width: 32px;
}

.molding-20 {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: 55px;
  min-height: 42px;
  white-space: nowrap;
}

.molders-play-an-impo-1 {
  letter-spacing: 0;
  line-height: 9px;
  margin-top: 30px;
  min-height: 79px;
  white-space: nowrap;
}

