.component-16-1 {
  align-items: flex-end;
  display: flex;
  height: 69px;
  margin-left: 795px;
  min-width: 714px;
  position: relative;
}

.component-16-1.component-16-1-1,
.component-16-1.component-16-1-6 {
  height: 63px;
  margin-left: 495px;
}

.component-16-1.component-16-1-2,
.component-16-1.component-16-1-7 {
  margin-left: 195px;
}

.component-16-1.component-16-1-3,
.component-16-1.component-16-1-8 {
  margin-left: unset;
  margin-top: 44px;
  min-width: 903px;
}

.component-16-1.component-16-1-4,
.component-16-1.component-16-1-9 {
  height: 63px;
  margin-left: unset;
  margin-top: 44px;
  min-width: 666px;
}

