.windowed-desktop {
  align-items: center;
  background-color: var(--cocoa-brown);
  display: flex;
  flex-direction: column;
  height: 2490px;
  overflow: hidden;
  width: 1600px;
}

.flex-row-1 {
  align-items: flex-end;
  display: flex;
  height: 63px;
  margin-left: 5.43px;
  margin-top: 65px;
  min-width: 1437px;
  position: relative;
}

.overlap-group9-1 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-bottom: 0;
  min-width: 60px;
}

.chocolate-bar_1f36b-11 {
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.overlap-group-21 {
  height: 59px;
  margin-bottom: -3.0px;
  margin-left: 12px;
  position: relative;
  width: 157px;
}

.choco-11 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.finance-11 {
  left: 87px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 39px;
  white-space: nowrap;
}

.flex-row-2 {
  align-items: center;
  display: flex;
  margin-right: 99.37px;
  margin-top: 49px;
  min-width: 1333px;
}

.flex-col-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 63.19px;
  min-height: 520px;
  position: relative;
  width: 656px;
}

.thetas-nativedecen-1 {
  letter-spacing: 0;
  line-height: 70px;
  margin-left: 0.26px;
  min-height: 260px;
  white-space: nowrap;
}

.choco-is-building-ba-1 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 0.26px;
  margin-top: 53px;
  min-height: 74px;
  white-space: nowrap;
}

.fallingchoco-1 {
  height: 682px;
  margin-left: 43px;
  object-fit: cover;
  width: 634px;
}

.overlap-group-container-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 9.0px;
  margin-top: 32px;
  min-height: 2028px;
  width: 1609px;
}

.overlap-group11-1 {
  height: 1053px;
  margin-right: 9.0px;
  position: relative;
  width: 1600px;
}

.overlap-group-container-2 {
  height: 962px;
  left: 0;
  position: absolute;
  top: 90px;
  width: 1600px;
}

.overlap-group9-2 {
  height: 921px;
  left: 449px;
  position: absolute;
  top: 0;
  width: 1151px;
}

.how-to-participate-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.overlap-group10-1 {
  height: 921px;
  left: 386px;
  position: absolute;
  top: 0;
  width: 765px;
}

.bar1-3 {
  height: 264px;
  left: 500px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 265px;
}

.overlap-group7-1 {
  height: 843px;
  left: 0;
  position: absolute;
  top: 119px;
  width: 766px;
}

.bar1-4 {
  height: 194px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 649px;
  width: 181px;
}

.bar2-2 {
  height: 136px;
  left: 199px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 127px;
}

.overlap-group8-1 {
  height: 894px;
  margin-left: 9.0px;
  margin-top: 81px;
  position: relative;
  width: 1600px;
}

.rectangle-2-1 {
  background-color: var(--oil);
  height: 855px;
  left: 0;
  position: absolute;
  top: 39px;
  width: 1600px;
}

.bar1-5 {
  height: 212px;
  left: 1278px;
  object-fit: cover;
  position: absolute;
  top: 208px;
  width: 222px;
}

.bar2-3 {
  height: 154px;
  left: 1109px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 161px;
}

