.choco-landing-s {
  align-items: flex-start;
  background-color: var(--cocoa-brown);
  display: flex;
  flex-direction: column;
  height: 2490px;
  overflow: hidden;
  width: 1282px;
}

.navbar-2 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  height: 75px;
  margin-left: 34.21px;
  margin-top: 59px;
  min-width: 1148px;
  position: relative;
}

.overlap-group2-12 {
  align-items: flex-start;
  align-self: center;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-top: 2.94px;
  min-width: 60px;
}

.chocolate-bar_1f36b-25 {
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.overlap-group-38 {
  height: 59px;
  margin-bottom: 3.0px;
  margin-left: 12px;
  position: relative;
  width: 157px;
}

.choco-25 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.finance-28 {
  left: 87px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 39px;
  white-space: nowrap;
}

.navbar-link-melt-2 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 257px;
  min-height: 50px;
  min-width: 65px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.navbar-link-melt-2:hover,
.navbar-link-place-2:hover,
.navbar-link-governance-2:hover,
.navbar-link-learn-2:hover {
  transform: translate(0, -5px);
}

.navbar-link-place-2 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 31px;
  min-height: 50px;
  min-width: 67px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.navbar-link-governance-2 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 31px;
  min-height: 50px;
  min-width: 154px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.navbar-link-learn-2 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 31px;
  min-height: 50px;
  min-width: 75px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.overlap-group-container-14 {
  height: 1787px;
  margin-top: 22px;
  position: relative;
  width: 1327px;
}

.overlap-group-container-15 {
  height: 1741px;
  left: 53px;
  position: absolute;
  top: 0;
  width: 1274px;
}

.overlap-group6-4 {
  height: 756px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1028px;
}

.fallingchoco-9 {
  height: 756px;
  left: 324px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 704px;
}

.thetas-nativedecen-14 {
  left: 31px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 70px;
  white-space: nowrap;
}

.choco-is-building-ba-14 {
  left: 31px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 383px;
  white-space: nowrap;
}

.overlap-group7-13 {
  height: 195px;
  left: 146px;
  position: absolute;
  top: 734px;
  width: 795px;
}

.how-to-participate-14 {
  left: 91px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 107px;
  white-space: nowrap;
}

.bar2-28 {
  height: 136px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 127px;
}

.overlap-group5-2 {
  height: 908px;
  left: 603px;
  position: absolute;
  top: 833px;
  width: 671px;
}

.bar1-42 {
  height: 264px;
  left: 406px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 265px;
}

.overlap-group4-3 {
  height: 848px;
  left: 0;
  position: absolute;
  top: 939px;
  width: 629px;
}

.bar1-43 {
  height: 194px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 654px;
  width: 181px;
}

.flex-row-17 {
  align-items: flex-start;
  background-color: var(--oil);
  border-radius: 264px;
  display: flex;
  height: 855px;
  margin-top: 48px;
  min-width: 1282px;
  padding: 33.1px 84px;
}

.flex-row-18 {
  align-items: flex-start;
  display: flex;
  height: 249px;
  margin-top: 123.93px;
  min-width: 427px;
}

.flex-col-35 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 249px;
  width: 60px;
}

.overlap-group10-6 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  min-width: 60px;
}

.x622369b6a395099f1a779d22_1-14 {
  align-items: flex-end;
  background-color: var(--green-white);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-top: 63px;
  min-width: 50px;
  padding: 16px 15px;
  transition: all 0.2s ease;
}

.x622369b6a395099f1a779d22_1-14:hover,
.x622369b6bf2cca49909d6eb5_4-14:hover,
.x622369b636f18be6eacf49c4_3-10:hover {
  transform: scale(1.1);
}

.icon-twitter-7 {
  height: 16px;
  object-fit: cover;
  width: 20px;
}

.x622369b6bf2cca49909d6eb5_4-14 {
  align-items: flex-end;
  background-color: var(--green-white);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-top: 26px;
  min-width: 50px;
  padding: 15.0px 12.0px;
  transition: all 0.2s ease;
}

.icon-paper_plane-8 {
  height: 19px;
  object-fit: cover;
  width: 24px;
}

.flex-col-36 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 246px;
  position: relative;
  width: 178px;
}

.overlap-group1-15 {
  height: 60px;
  position: relative;
  width: 157px;
}

.finance-29 {
  left: 87px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.b-container-9 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 60px;
  min-width: 150px;
  position: relative;
}

.x622369b636f18be6eacf49c4_3-10 {
  align-items: flex-start;
  background-color: var(--green-white);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-left: 50px;
  min-width: 50px;
  padding: 13.0px 13px;
  transition: all 0.2s ease;
}

.path-5-13 {
  height: 23px;
  object-fit: cover;
  width: 24px;
}

.flex-col-37 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 39px;
  margin-top: 14.5px;
  min-height: 174px;
  width: 138px;
}

.products-14 {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 39px;
  white-space: nowrap;
}

.component-container-69 {
  height: 48px;
  margin-left: 3.65px;
  margin-top: 28px;
  position: relative;
  width: 104px;
}

.component-container-70 {
  height: 48px;
  margin-left: 4.59px;
  margin-top: 12px;
  position: relative;
  width: 95px;
}

.flex-col-38 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 58px;
  margin-top: 138.43px;
  min-height: 152px;
  width: 191px;
}

.learn-26 {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 0;
  min-height: 39px;
  white-space: nowrap;
}

.component-container-71 {
  height: 24px;
  margin-left: 0;
  margin-top: 28px;
  position: relative;
  width: 191px;
}

.component-container-72 {
  height: 24px;
  margin-top: 37px;
  position: relative;
  width: 92px;
}

.overlap-group-container-16 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 47px;
  min-height: 433px;
  width: 381px;
}

.overlap-group13-3 {
  height: 177px;
  margin-left: 0.26px;
  position: relative;
  width: 225px;
}

.contact-us-11 {
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 138px;
  white-space: nowrap;
}

.bar2-29 {
  height: 154px;
  left: 64px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 161px;
}

.overlap-group8-14 {
  height: 229px;
  margin-top: 28px;
  position: relative;
  width: 381px;
}

.bar1-44 {
  height: 212px;
  left: 158px;
  object-fit: cover;
  position: absolute;
  top: 17px;
  width: 222px;
}

