.component-13-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 149px;
  min-height: 178px;
  width: 138px;
}

.products {
  letter-spacing: 0;
  line-height: 30px;
  margin-left: 0.45px;
  margin-top: 4px;
  min-height: 39px;
  white-space: nowrap;
}

.component-container {
  height: 48px;
  margin-left: 0.09px;
  margin-top: 28px;
  position: relative;
  width: 104px;
}

.component-container-1 {
  height: 48px;
  margin-top: 12px;
  position: relative;
  width: 95px;
}

.component-13-1.component-13-1-1,
.component-13-1.component-13-1-6 {
  margin-left: 142px;
  margin-top: 11px;
}

.component-13-1.component-13-1-2,
.component-13-1.component-13-1-7 {
  margin-left: 58px;
  margin-top: 11px;
}

.component-13-1.component-13-1-3,
.component-13-1.component-13-1-8 {
  margin-left: 29px;
}

.component-13-1.component-13-1-4,
.component-13-1.component-13-1-9 {
  margin-left: 51px;
}

