.choco-landing-m {
  align-items: flex-start;
  background-color: var(--cocoa-brown);
  display: flex;
  flex-direction: column;
  height: 2490px;
  overflow: hidden;
  width: 1497px;
}

.navbar-1 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  height: 75px;
  margin-left: 24.51px;
  margin-top: 59px;
  min-width: 1354px;
  position: relative;
}

.overlap-group5-1 {
  align-items: flex-start;
  align-self: center;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-top: 2.94px;
  min-width: 60px;
}

.chocolate-bar_1f36b-24 {
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.overlap-group-37 {
  height: 59px;
  margin-bottom: 3.0px;
  margin-left: 12px;
  position: relative;
  width: 157px;
}

.choco-24 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.finance-26 {
  left: 87px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 39px;
  white-space: nowrap;
}

.navbar-link-melt-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 461px;
  min-height: 50px;
  min-width: 65px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.navbar-link-melt-1:hover,
.navbar-link-place-1:hover,
.navbar-link-governance-1:hover,
.navbar-link-learn-1:hover {
  transform: translate(0, -5px);
}

.navbar-link-place-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 31px;
  min-height: 50px;
  min-width: 67px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.navbar-link-governance-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 31px;
  min-height: 50px;
  min-width: 154px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.navbar-link-learn-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 31px;
  min-height: 50px;
  min-width: 75px;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.overlap-group-container-13 {
  height: 1787px;
  margin-top: 22px;
  position: relative;
  width: 1550px;
}

.overlap-group16 {
  height: 870px;
  left: 63px;
  position: absolute;
  top: 0;
  width: 1232px;
}

.overlap-group6-3 {
  height: 756px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 1212px;
}

.fallingchoco-8 {
  height: 756px;
  left: 508px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 704px;
}

.thetas-nativedecen-13 {
  left: 0;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 70px;
  white-space: nowrap;
}

.choco-is-building-ba-13 {
  left: 21px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 383px;
  white-space: nowrap;
}

.bar2-26 {
  height: 136px;
  left: 136px;
  object-fit: cover;
  position: absolute;
  top: 734px;
  width: 127px;
}

.overlap-group15-1 {
  height: 913px;
  left: 398px;
  position: absolute;
  top: 833px;
  width: 1153px;
}

.how-to-participate-13 {
  left: 0;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.overlap-group3-3 {
  height: 913px;
  left: 380px;
  position: absolute;
  top: 0;
  width: 773px;
}

.bar1-39 {
  height: 264px;
  left: 508px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 265px;
}

.overlap-group4-2 {
  height: 843px;
  left: 0;
  position: absolute;
  top: 944px;
  width: 720px;
}

.bar1-40 {
  height: 194px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 649px;
  width: 181px;
}

.flex-row-14 {
  align-items: flex-start;
  background-color: var(--oil);
  border-radius: 264px;
  display: flex;
  height: 855px;
  margin-top: 25px;
  min-width: 1497px;
  padding: 56.1px 84px;
}

.flex-row-15 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  height: 249px;
  margin-bottom: 246.0px;
  min-width: 778px;
}

.flex-col-30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 249px;
  width: 60px;
}

.overlap-group9-8 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  min-width: 60px;
}

.x622369b6a395099f1a779d22_1-13 {
  align-items: flex-end;
  background-color: var(--green-white);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-top: 63px;
  min-width: 50px;
  padding: 16px 15px;
  transition: all 0.2s ease;
}

.x622369b6a395099f1a779d22_1-13:hover,
.x622369b6bf2cca49909d6eb5_4-13:hover,
.x622369b636f18be6eacf49c4_3-9:hover {
  transform: scale(1.1);
}

.icon-twitter-6 {
  height: 16px;
  object-fit: cover;
  width: 20px;
}

.x622369b6bf2cca49909d6eb5_4-13 {
  align-items: flex-end;
  background-color: var(--green-white);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-top: 26px;
  min-width: 50px;
  padding: 15.0px 12.0px;
  transition: all 0.2s ease;
}

.icon-paper_plane-7 {
  height: 19px;
  object-fit: cover;
  width: 24px;
}

.flex-col-31 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 246px;
  position: relative;
  width: 178px;
}

.overlap-group1-14 {
  height: 60px;
  position: relative;
  width: 157px;
}

.finance-27 {
  left: 87px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.b-container-8 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 60px;
  min-width: 150px;
  position: relative;
}

.x622369b636f18be6eacf49c4_3-9 {
  align-items: flex-start;
  background-color: var(--green-white);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-left: 50px;
  min-width: 50px;
  padding: 13.0px 13px;
  transition: all 0.2s ease;
}

.path-5-12 {
  height: 23px;
  object-fit: cover;
  width: 24px;
}

.flex-col-32 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 109px;
  margin-top: 14.5px;
  min-height: 175px;
  width: 138px;
}

.products-13,
.learn-25 {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 39px;
  white-space: nowrap;
}

.component-container-64 {
  height: 48px;
  margin-left: 0;
  margin-top: 28px;
  position: relative;
  width: 104px;
}

.component-container-65 {
  height: 48px;
  margin-left: 0;
  margin-top: 13px;
  position: relative;
  width: 95px;
}

.flex-col-33 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  margin-top: 14.5px;
  min-height: 148px;
  width: 191px;
}

.component-container-66 {
  height: 24px;
  margin-left: 0;
  margin-top: 28px;
  position: relative;
  width: 191px;
}

.component-container-67 {
  height: 24px;
  margin-left: 0;
  margin-top: 33px;
  position: relative;
  width: 92px;
}

.flex-col-34 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  min-height: 419px;
  width: 495px;
}

.overlap-group11-6 {
  height: 177px;
  margin-left: 0.08px;
  position: relative;
  width: 287px;
}

.contact-us-10 {
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 138px;
  white-space: nowrap;
}

.bar2-27 {
  height: 154px;
  left: 126px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 161px;
}

.flex-row-16 {
  align-items: flex-start;
  display: flex;
  height: 215px;
  margin-top: 28px;
  min-width: 495px;
}

.component-container-68 {
  height: 24px;
  position: relative;
  width: 239px;
}

.bar1-41 {
  align-self: flex-end;
  height: 212px;
  margin-left: 33px;
  object-fit: cover;
  width: 222px;
}

