.component-18-1,
.component-18-1-1,
.component-18-1-2,
.component-18-1-3,
.component-18-1-4,
.component-18-1-5,
.component-18-1-6,
.component-18-1-7,
.component-18-1-8,
.component-18-1-9,
.component-18-1-10,
.component-18-1-11,
.component-18-1-12,
.component-18-1-13 {
  cursor: pointer;
  display: flex;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 92px;
}

.component-18-1:hover,
.component-18-1-1:hover,
.component-18-1-2:hover,
.component-18-1-3:hover,
.component-18-1-4:hover,
.component-18-1-5:hover,
.component-18-1-6:hover,
.component-18-1-7:hover,
.component-18-1-8:hover,
.component-18-1-9:hover,
.component-18-1-10:hover,
.component-18-1-11:hover,
.component-18-1-12:hover,
.component-18-1-13:hover {
  opacity: 0;
}

.medium,
.medium-1,
.medium-2,
.medium-3,
.medium-4,
.medium-5,
.medium-6,
.medium-7,
.medium-8,
.medium-9,
.medium-10,
.medium-11,
.medium-12,
.medium-13 {
  flex: 1;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: -4px;
  margin-right: -2px;
  margin-top: 2px;
  white-space: nowrap;
  width: 92px;
}

