.component-8-1-2 {
  align-items: flex-end;
  cursor: pointer;
  display: flex;
  margin-bottom: 0;
  min-width: 40px;
  transition: all 0.2s ease;
}

.component-8-1-2:hover {
  transform: translate(0, -5px);
}

.overlap-group-27 {
  height: 24px;
  margin-bottom: -2.3px;
  position: relative;
  width: 39px;
}

.melt-25 {
  left: 9px;
  letter-spacing: 0;
  line-height: 9px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.line-1-11 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 9px;
}

