.choco-landing-2 {
  align-items: center;
  background-color: var(--cocoa-brown);
  display: flex;
  flex-direction: column;
  height: 2490px;
  overflow: hidden;
  width: 1300px;
}

.flex-row-8 {
  align-items: flex-end;
  display: flex;
  height: 69px;
  margin-left: 5.43px;
  margin-top: 59px;
  min-width: 1137px;
  position: relative;
}

.overlap-group9-6 {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  margin-bottom: 0;
  min-width: 60px;
}

.chocolate-bar_1f36b-21 {
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.overlap-group-32 {
  height: 59px;
  margin-bottom: -3.0px;
  margin-left: 12px;
  position: relative;
  width: 157px;
}

.choco-21 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.finance-21 {
  left: 87px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 39px;
  white-space: nowrap;
}

.overlap-group13-1 {
  height: 563px;
  margin-left: 7.07px;
  margin-top: 55px;
  position: relative;
  width: 1140px;
}

.overlap-group8-9 {
  height: 554px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1139px;
}

.fallingchoco-5 {
  height: 554px;
  left: 624px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 515px;
}

.thetas-nativedecen-8 {
  left: 0;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 43px;
  white-space: nowrap;
}

.choco-is-building-ba-8 {
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 356px;
  white-space: nowrap;
}

.overlap-group-container-8 {
  height: 1053px;
  margin-left: 0;
  margin-top: 144px;
  position: relative;
  width: 1300px;
}

.overlap-group-container-9 {
  height: 1011px;
  left: 199px;
  position: absolute;
  top: 0;
  width: 1101px;
}

.overlap-group12-3 {
  height: 195px;
  left: 0;
  position: absolute;
  top: 0;
  width: 804px;
}

.how-to-participate-8 {
  left: 100px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 107px;
  white-space: nowrap;
}

.bar2-16 {
  height: 136px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 127px;
}

.overlap-group10-5 {
  height: 921px;
  left: 464px;
  position: absolute;
  top: 90px;
  width: 637px;
}

.bar1-24 {
  height: 264px;
  left: 372px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 265px;
}

.overlap-group11-5 {
  height: 843px;
  left: 0;
  position: absolute;
  top: 209px;
  width: 638px;
}

.bar1-25 {
  height: 194px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 649px;
  width: 181px;
}

.overlap-group7-8 {
  height: 886px;
  margin-top: 89px;
  position: relative;
  width: 1300px;
}

.rectangle-2-5 {
  background-color: var(--oil);
  height: 855px;
  left: 0;
  position: absolute;
  top: 31px;
  width: 1300px;
}

.bar1-26 {
  height: 212px;
  left: 1035px;
  object-fit: cover;
  position: absolute;
  top: 192px;
  width: 222px;
}

.bar2-17 {
  height: 154px;
  left: 954px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 161px;
}

