.desktop {
  background-color: #33251f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .iphone-mini {
  background-color: #33251f;
  position: relative;
}

.desktop .overlap {
  position: absolute;
}

.desktop .rectangle {
  background-color: #251c18;
  height: 855px;
  left: 0;
  position: absolute;
}

.desktop .bar {
  height: 212px;
  object-fit: cover;
  position: absolute;
  width: 222px;
}

.desktop .img {
  height: 154px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 161px;
}

.desktop .component {
  height: 249px;
  position: absolute;
}

.desktop .div {
  height: 249px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

.desktop .overlap-group {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/62aff57814356862a008027e/releases/62aff5c0083bc2c240269c99/img/chocolate-bar-1f36b-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}

.desktop .chocolate-bar {
  height: 60px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60px;
}

.desktop .group {
  height: 59px;
  left: 72px;
  position: absolute;
  top: 0;
  width: 157px;
}

.desktop .overlap-group-2 {
  height: 60px;
  position: relative;
  top: 4px;
}

.desktop .text-wrapper {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 32px;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-2 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 900;
  left: 87px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.desktop .path-wrapper {
  background-color: #efe9e0;
  border-radius: 25px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 123px;
  transition: all 0.2s ease;
  width: 50px;
}

.desktop .path {
  height: 16px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 18px;
  width: 20px;
}

.desktop .img-wrapper {
  background-color: #efe9e0;
  border-radius: 25px;
  height: 50px;
  left: 100px;
  position: absolute;
  top: 123px;
  transition: all 0.2s ease;
  width: 50px;
}

.desktop .path-2 {
  height: 20px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 18px;
}

.desktop .path-wrapper-2 {
  background-color: #efe9e0;
  border-radius: 25px;
  height: 50px;
  left: 200px;
  position: absolute;
  top: 123px;
  transition: all 0.2s ease;
  width: 50px;
}

.desktop .path-3 {
  height: 23px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 24px;
}

.desktop .path-wrapper-3 {
  background-color: #efe9e0;
  border-radius: 25px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 199px;
  transition: all 0.2s ease;
  width: 50px;
}

.desktop .path-4 {
  height: 19px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 16px;
  width: 24px;
}

.desktop .path-wrapper-4 {
  background-color: #efe9e0;
  border-radius: 25px;
  height: 50px;
  left: 100px;
  position: absolute;
  top: 199px;
  transition: all 0.2s ease;
  width: 50px;
}

.desktop .path-5 {
  height: 24px;
  left: 13px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 24px;
}

.desktop .component-2 {
  height: 155px;
  position: absolute;
  width: 191px;
}

.desktop .text-wrapper-3 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.desktop .overlap-2 {
  height: 24px;
  left: 2px;
  position: absolute;
  top: 70px;
  width: 191px;
}

.desktop .div-wrapper {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 191px;
}

.desktop .text-wrapper-4 {
  color: #cecece;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.desktop .component-3 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 191px;
}

.desktop .text-wrapper-5 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.desktop .overlap-3 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 131px;
  width: 92px;
}

.desktop .component-4 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 92px;
}

.desktop .component-5 {
  height: 94px;
  position: absolute;
  width: 238px;
}

.desktop .text-wrapper-6 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.desktop .overlap-4 {
  height: 24px;
  left: 1px;
  position: absolute;
  top: 70px;
  width: 239px;
}

.desktop .component-6 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 239px;
}

.desktop .component-7 {
  height: 178px;
  position: absolute;
  width: 138px;
}

.desktop .overlap-5 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 104px;
}

.desktop .MOLDING-wrapper {
  height: 48px;
  left: 0;
  opacity: 0.41;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 104px;
}

.desktop .text-wrapper-7 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.desktop .component-8 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 104px;
}

.desktop .overlap-6 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 130px;
  width: 95px;
}

.desktop .component-9 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 1px;
  transition: all 0.2s ease;
  width: 95px;
}

.desktop .MELTING-wrapper {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 95px;
}

.desktop .component-10 {
  height: 63px;
  left: 84px;
  position: absolute;
  top: 683px;
  width: 390px;
}

.desktop .component-11 {
  background-color: #564439;
  border: 1px solid;
  border-color: #707070;
  border-radius: 33px;
  height: 63px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 178px;
}

.desktop .text-wrapper-8 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 900;
  left: 37px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 21px;
  white-space: nowrap;
}

.desktop .component-12 {
  background-color: #6e5749;
  border: 1px solid;
  border-color: #707070;
  border-radius: 33px;
  height: 63px;
  left: 212px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 178px;
}

.desktop .text-wrapper-9 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 900;
  left: 63px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 21px;
  white-space: nowrap;
}

.desktop .overlap-7 {
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
}

.desktop .chocolate-bar-fb {
  object-fit: cover;
  position: absolute;
}

.desktop .component-13 {
  position: absolute;
}

.desktop .component-14 {
  left: 0;
  position: absolute;
  top: 0;
}

.desktop .chocolate-bar-wrapper {
  background-position: 50% 50%;
  background-size: cover;
  left: 0;
  position: absolute;
  top: 0;
}

.desktop .chocolate-bar-2 {
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.desktop .group-2 {
  position: absolute;
  top: 0;
}

.desktop .overlap-group-3 {
  position: relative;
}

.desktop .text-wrapper-10 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-11 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .text-wrapper-12 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.desktop .text-wrapper-13 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .path-wrapper-5 {
  background-color: #efe9e0;
  left: 0;
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .path-6 {
  object-fit: cover;
  position: absolute;
}

.desktop .path-wrapper-6 {
  background-color: #efe9e0;
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .path-7 {
  object-fit: cover;
  position: absolute;
}

.desktop .path-wrapper-7 {
  background-color: #efe9e0;
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .path-8 {
  object-fit: cover;
  position: absolute;
}

.desktop .path-wrapper-8 {
  background-color: #efe9e0;
  left: 0;
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .path-9 {
  object-fit: cover;
  position: absolute;
}

.desktop .path-wrapper-9 {
  background-color: #efe9e0;
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .path-10 {
  object-fit: cover;
  position: absolute;
}

.desktop .component-15 {
  position: absolute;
  top: 0;
}

.desktop .text-wrapper-14 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .overlap-8 {
  position: absolute;
}

.desktop .component-16 {
  left: 0;
  position: absolute;
  top: 0;
}

.desktop .text-wrapper-15 {
  color: #cecece;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-17 {
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
}

.desktop .text-wrapper-16 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .overlap-9 {
  left: 0;
  position: absolute;
}

.desktop .component-18 {
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
}

.desktop .text-wrapper-17 {
  color: #cecece;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-19 {
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
}

.desktop .text-wrapper-18 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-20 {
  position: absolute;
  top: 0;
}

.desktop .text-wrapper-19 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .overlap-10 {
  left: 0;
  position: absolute;
}

.desktop .component-21 {
  left: 0;
  opacity: 0.41;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
}

.desktop .MOLDING {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-22 {
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
}

.desktop .MOLDING-2 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .overlap-11 {
  left: 0;
  position: absolute;
}

.desktop .component-23 {
  left: 0;
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .text-wrapper-20 {
  color: #cecece;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-24 {
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
}

.desktop .MELTING {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-25 {
  height: 94px;
  left: 613px;
  position: absolute;
  top: 0;
  width: 238px;
}

.desktop .group-3 {
  position: absolute;
}

.desktop .overlap-group-4 {
  height: 59px;
  position: relative;
  top: 4px;
}

.desktop .text-wrapper-21 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 14px;
  font-weight: 900;
  left: 87px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 39px;
  white-space: nowrap;
}

.desktop .component-26 {
  background-color: #564439;
  border: 1px solid;
  border-color: #707070;
  border-radius: 33px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
}

.desktop .text-wrapper-22 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-27 {
  background-color: #6e5749;
  border: 1px solid;
  border-color: #707070;
  border-radius: 33px;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
}

.desktop .text-wrapper-23 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-28 {
  height: 63px;
  left: 83px;
  position: absolute;
  top: 0;
  width: 390px;
}

.desktop .bar-2 {
  height: 136px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 127px;
}

.desktop .overlap-12 {
  position: absolute;
}

.desktop .fallingchoco {
  object-fit: cover;
  position: absolute;
}

.desktop .theta-s-native {
  position: absolute;
}

.desktop .overlap-group-5 {
  position: relative;
}

.desktop .text-wrapper-24 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-25 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .overlap-13 {
  height: 195px;
  left: 199px;
  position: absolute;
  top: 890px;
  width: 804px;
}

.desktop .text-wrapper-26 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 70px;
  font-weight: 600;
  left: 100px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 107px;
  white-space: nowrap;
}

.desktop .bar-3 {
  height: 136px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 127px;
}

.desktop .choco-is-building {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 84px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 539px;
  white-space: nowrap;
}

.desktop .component-29 {
  height: 69px;
  left: 508px;
  position: absolute;
  top: 59px;
  width: 714px;
}

.desktop .overlap-14 {
  border-radius: 33px;
  height: 63px;
  left: 536px;
  position: absolute;
  top: 0;
  width: 178px;
}

.desktop .component-30 {
  background-color: #ff3341;
  border: 1px solid;
  border-color: #707070;
  border-radius: 33px;
  height: 63px;
  left: 0;
  position: absolute;
  top: 0;
  width: 178px;
}

.desktop .text-wrapper-27 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 900;
  left: 9px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
}

.desktop .div-2 {
  background-color: #ff3341;
  border: 1px solid;
  border-color: #707070;
  border-radius: 33px;
  height: 63px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 178px;
}

.desktop .text-wrapper-28 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 900;
  left: 27px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 21px;
  white-space: nowrap;
}

.desktop .overlap-group-wrapper {
  height: 48px;
  left: 0;
  position: absolute;
  top: 21px;
  transition: all 0.2s ease;
  width: 84px;
}

.desktop .overlap-group-6 {
  height: 50px;
  position: relative;
  top: 4px;
}

.desktop .MELT {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 900;
  left: 18px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 19px;
}

.desktop .component-31 {
  height: 48px;
  left: 111px;
  position: absolute;
  top: 21px;
  transition: all 0.2s ease;
  width: 83px;
}

.desktop .MOLD {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 900;
  left: 16px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.desktop .line-2 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 24px;
  width: 16px;
}

.desktop .overlap-wrapper {
  height: 48px;
  left: 418px;
  position: absolute;
  top: 21px;
  transition: all 0.2s ease;
  width: 90px;
}

.desktop .text-wrapper-29 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 900;
  left: 15px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .line-3 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 16px;
}

.desktop .component-32 {
  height: 48px;
  left: 221px;
  position: absolute;
  top: 21px;
  transition: all 0.2s ease;
  width: 169px;
}

.desktop .overlap-15 {
  height: 921px;
  left: 663px;
  position: absolute;
  top: 981px;
  width: 637px;
}

.desktop .component-33 {
  background-color: #7a6152;
  border: 1px solid;
  border-color: #707070;
  border-radius: 61px;
  height: 802px;
  left: 0;
  position: absolute;
  top: 119px;
  width: 553px;
}

.desktop .quad {
  height: 75px;
  left: 370px;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 75px;
}

.desktop .melting-allows-you {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 58px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 414px;
  white-space: nowrap;
}

.desktop .text-wrapper-30 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 70px;
  font-weight: 600;
  left: 58px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 296px;
  white-space: nowrap;
}

.desktop .component-34 {
  border: 4px solid;
  border-color: #ffffff;
  border-radius: 33px;
  height: 63px;
  left: 58px;
  position: absolute;
  top: 604px;
  transition: all 0.2s ease;
  width: 178px;
}

.desktop .text-wrapper-31 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 900;
  left: 57px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.desktop .bar-4 {
  height: 264px;
  left: 372px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 265px;
}

.desktop .overlap-16 {
  height: 843px;
  left: 0;
  position: absolute;
  top: 1100px;
  width: 638px;
}

.desktop .component-35 {
  background-color: #624d41;
  border: 1px solid;
  border-color: #707070;
  border-radius: 61px;
  height: 802px;
  left: 84px;
  position: absolute;
  top: 0;
  width: 554px;
}

.desktop .fire {
  height: 75px;
  left: 404px;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 65px;
}

.desktop .molders-play-an {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 81px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 425px;
  white-space: nowrap;
}

.desktop .text-wrapper-32 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 70px;
  font-weight: 600;
  left: 81px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 296px;
  white-space: nowrap;
}

.desktop .component-36 {
  border: 4px solid;
  border-color: #ffffff;
  border-radius: 33px;
  height: 63px;
  left: 81px;
  position: absolute;
  top: 617px;
  transition: all 0.2s ease;
  width: 178px;
}

.desktop .text-wrapper-33 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 900;
  left: 53px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.desktop .bar-5 {
  height: 194px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 649px;
  width: 181px;
}

.desktop .fallingchoco-2 {
  object-fit: cover;
  position: absolute;
}

.desktop .theta-s-native-2 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 70px;
  font-weight: 600;
  left: 84px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 226px;
  white-space: nowrap;
}

.desktop .text-wrapper-34 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 997px;
  white-space: nowrap;
}

.desktop .component-37 {
  position: absolute;
  width: 714px;
}

.desktop .overlap-17 {
  height: 63px;
  left: 536px;
  position: absolute;
  top: 0;
  width: 178px;
}

.desktop .component-38 {
  height: 63px;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
  width: 178px;
}

.desktop .text-wrapper-35 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 900;
  left: 28px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 22px;
  white-space: nowrap;
}

.desktop .component-39 {
  height: 48px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease;
  width: 84px;
}

.desktop .component-40 {
  height: 48px;
  left: 111px;
  position: absolute;
  transition: all 0.2s ease;
  width: 83px;
}

.desktop .component-41 {
  height: 48px;
  left: 418px;
  position: absolute;
  transition: all 0.2s ease;
  width: 90px;
}

.desktop .component-42 {
  height: 48px;
  left: 221px;
  position: absolute;
  transition: all 0.2s ease;
  width: 169px;
}

.desktop .overlap-18 {
  height: 921px;
  position: absolute;
  top: 981px;
}

.desktop .component-43 {
  background-color: #7a6152;
  border: 1px solid;
  border-color: #707070;
  border-radius: 61px;
  height: 802px;
  left: 0;
  position: absolute;
  top: 119px;
}

.desktop .quad-2 {
  height: 75px;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 75px;
}

.desktop .p {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 61px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 458px;
  white-space: nowrap;
}

.desktop .text-wrapper-36 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 70px;
  font-weight: 600;
  left: 61px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 294px;
  white-space: nowrap;
}

.desktop .component-44 {
  border: 4px solid;
  border-color: #ffffff;
  border-radius: 33px;
  height: 63px;
  left: 61px;
  position: absolute;
  top: 644px;
  transition: all 0.2s ease;
  width: 178px;
}

.desktop .bar-6 {
  height: 264px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 265px;
}

.desktop .overlap-19 {
  height: 843px;
  left: 0;
  position: absolute;
  top: 1100px;
}

.desktop .component-45 {
  background-color: #624d41;
  border: 1px solid;
  border-color: #707070;
  border-radius: 61px;
  height: 802px;
  left: 84px;
  position: absolute;
  top: 0;
}

.desktop .fire-2 {
  height: 75px;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 65px;
}

.desktop .molders-play-an-2 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 99px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 458px;
  white-space: nowrap;
}

.desktop .text-wrapper-37 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 70px;
  font-weight: 600;
  left: 99px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 294px;
  white-space: nowrap;
}

.desktop .component-46 {
  border: 4px solid;
  border-color: #ffffff;
  border-radius: 33px;
  height: 63px;
  left: 99px;
  position: absolute;
  top: 644px;
  transition: all 0.2s ease;
  width: 178px;
}

.desktop .bar-7 {
  height: 136px;
  left: 199px;
  object-fit: cover;
  position: absolute;
  top: 890px;
  width: 127px;
}

.desktop .theta-s-native-3 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.desktop .overlap-20 {
  position: absolute;
}

.desktop .text-wrapper-38 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .component-47 {
  background-color: #624d41;
  border: 1px solid;
  border-color: #707070;
  border-radius: 61px;
  position: absolute;
}

.desktop .fire-3 {
  object-fit: cover;
  position: absolute;
}

.desktop .molders-play-an-3 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 9px;
  position: absolute;
  white-space: nowrap;
}

.desktop .text-wrapper-39 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-48 {
  border: 4px solid;
  border-color: #ffffff;
  border-radius: 33px;
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .text-wrapper-40 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 9px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 9px;
  position: absolute;
  white-space: nowrap;
}

.desktop .bar-8 {
  object-fit: cover;
  position: absolute;
}

.desktop .bar-9 {
  left: 0;
  object-fit: cover;
  position: absolute;
}

.desktop .overlap-21 {
  position: absolute;
}

.desktop .choco-is-building-2 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.desktop .bar-10 {
  object-fit: cover;
  position: absolute;
}

.desktop .choco-is-building-3 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.desktop .component-49 {
  position: absolute;
}

.desktop .overlap-22 {
  position: absolute;
  top: 0;
}

.desktop .component-50 {
  background-color: #ff3341;
  border-radius: 33px;
  position: absolute;
  top: 0;
}

.desktop .text-wrapper-41 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-51 {
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
}

.desktop .text-wrapper-42 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-52 {
  left: 0;
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .overlap-group-7 {
  position: relative;
}

.desktop .MELT-2 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .line-4 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
}

.desktop .component-53 {
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .MOLD-2 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .line-5 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
}

.desktop .overlap-23 {
  position: absolute;
}

.desktop .component-54 {
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .LEARN {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 9px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 9px;
  position: absolute;
  top: 2px;
  white-space: nowrap;
}

.desktop .line-6 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
}

.desktop .component-55 {
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease;
}

.desktop .overlap-24 {
  height: 24px;
  position: relative;
  top: 2px;
}

.desktop .GOVERNANCE {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 9px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 9px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .line-7 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
}

.desktop .component-56 {
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .overlap-25 {
  position: relative;
}

.desktop .LEARN-2 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .line-8 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
}

.desktop .component-57 {
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .overlap-26 {
  position: relative;
}

.desktop .GOVERNANCE-2 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .line-9 {
  height: 2px;
  left: 0;
  object-fit: cover;
  position: absolute;
}

.desktop .overlap-27 {
  position: absolute;
}

.desktop .component-58 {
  background-color: #7a6152;
  border: 1px solid;
  border-color: #707070;
  border-radius: 61px;
  position: absolute;
}

.desktop .quad-3 {
  object-fit: cover;
  position: absolute;
}

.desktop .melting-allows-you-2 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .text-wrapper-43 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-59 {
  border: 4px solid;
  border-color: #ffffff;
  border-radius: 33px;
  position: absolute;
  transition: all 0.2s ease;
}

.desktop .text-wrapper-44 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.desktop .component-60 {
  background-color: #624d41;
  border: 1px solid;
  border-color: #707070;
  border-radius: 61px;
  height: 802px;
  position: absolute;
  top: 0;
}

.desktop .fire-4 {
  height: 75px;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 65px;
}

.desktop .molders-play-an-4 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 70px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 438px;
  white-space: nowrap;
}

.desktop .text-wrapper-45 {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 70px;
  font-weight: 600;
  left: 70px;
  letter-spacing: 0;
  line-height: 70px;
  position: absolute;
  top: 294px;
  white-space: nowrap;
}

.desktop .component-61 {
  border: 4px solid;
  border-color: #ffffff;
  border-radius: 33px;
  height: 63px;
  left: 70px;
  position: absolute;
  top: 644px;
  transition: all 0.2s ease;
  width: 178px;
}

.desktop .bar-11 {
  object-fit: cover;
  position: absolute;
}

.desktop .bar-12 {
  object-fit: cover;
  position: absolute;
}

.desktop .bar-13 {
  height: 150px;
  object-fit: cover;
  position: absolute;
  width: 158px;
}

.desktop .bar-14 {
  object-fit: cover;
  position: absolute;
}
