.choco-landing-4 {
  align-items: center;
  background-color: var(--cocoa-brown);
  display: flex;
  flex-direction: column;
  height: 3211px;
  overflow: hidden;
  position: relative;
  width: 749px;
}

.thetas-nativedecen-10 {
  letter-spacing: 0;
  line-height: 70px;
  margin-left: 2.0px;
  margin-top: 82px;
  min-height: 260px;
  min-width: 656px;
  text-align: center;
  white-space: nowrap;
}

.choco-is-building-ba-10 {
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 2.0px;
  margin-top: 42px;
  min-height: 74px;
  min-width: 484px;
  text-align: center;
  white-space: nowrap;
}

.overlap-group8-11 {
  height: 195px;
  margin-right: 83.16px;
  margin-top: 54px;
  position: relative;
  width: 473px;
}

.bar2-20 {
  height: 136px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 127px;
}

.how-to-participate-10 {
  letter-spacing: 0;
  line-height: 63px;
  margin-left: 21.0px;
  margin-top: 7px;
  min-height: 79px;
  min-width: 634px;
  white-space: nowrap;
}

.overlap-group6-2 {
  align-self: flex-end;
  height: 1645px;
  margin-right: 0;
  margin-top: 25px;
  position: relative;
  width: 721px;
}

.bar1-30 {
  height: 194px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 137px;
  width: 181px;
}

.bar1-31 {
  height: 212px;
  left: 499px;
  object-fit: cover;
  position: absolute;
  top: 1097px;
  width: 222px;
}

.bar1-32 {
  height: 150px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 777px;
  width: 158px;
}

.overlap-group7-10 {
  background-position: 50% 50%;
  background-size: cover;
  height: 427px;
  margin-right: 0;
  margin-top: 39px;
  position: relative;
  width: 749px;
}

.bar2-21 {
  height: 154px;
  left: 442px;
  object-fit: cover;
  position: absolute;
  top: 240px;
  width: 161px;
}

