.component-12-1 {
  align-items: flex-end;
  display: flex;
  height: 249px;
  min-width: 250px;
}

.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 249px;
  width: 60px;
}

.overlap-group1 {
  align-items: flex-start;
  background-image: url(/static/img/chocolate-bar-1f36b-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  min-width: 60px;
}

.chocolate-bar_1f36b-1 {
  height: 60px;
  object-fit: cover;
  width: 60px;
}

.x622369b6a395099f1a779d22_1 {
  align-items: flex-end;
  background-color: var(--green-white);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-top: 63px;
  min-width: 50px;
  padding: 16px 15px;
  transition: all 0.2s ease;
}

.x622369b6a395099f1a779d22_1:hover,
.x622369b6bf2cca49909d6eb5_4:hover,
.x622369b636f18be6eacf49c4_3:hover {
  transform: scale(1.1);
}

.icon-twitter {
  height: 16px;
  object-fit: cover;
  width: 20px;
}

.x622369b6bf2cca49909d6eb5_4 {
  align-items: flex-end;
  background-color: var(--green-white);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-top: 26px;
  min-width: 50px;
  padding: 15.0px 12.0px;
  transition: all 0.2s ease;
}

.icon-paper_plane {
  height: 19px;
  object-fit: cover;
  width: 24px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  min-height: 246px;
  position: relative;
  width: 178px;
}

.overlap-group-11 {
  height: 60px;
  position: relative;
  width: 157px;
}

.choco-1 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.finance-1 {
  left: 87px;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
}

.b-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 60px;
  min-width: 150px;
  position: relative;
}

.x622369b636f18be6eacf49c4_3 {
  align-items: flex-start;
  background-color: var(--green-white);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-left: 50px;
  min-width: 50px;
  padding: 13.0px 13px;
  transition: all 0.2s ease;
}

.path-5 {
  height: 23px;
  object-fit: cover;
  width: 24px;
}

.component-12-1.component-12-1-3,
.component-12-1.component-12-1-4,
.component-12-1.component-12-1-8,
.component-12-1.component-12-1-9 {
  min-width: 215px;
}

.component-12-1.component-12-1-3 .flex-col-2,
.component-12-1.component-12-1-4 .flex-col-2,
.component-12-1.component-12-1-8 .flex-col-2,
.component-12-1.component-12-1-9 .flex-col-2 {
  margin-left: unset;
  width: 157px;
}

.component-12-1.component-12-1-3 .b-container,
.component-12-1.component-12-1-4 .b-container,
.component-12-1.component-12-1-8 .b-container,
.component-12-1.component-12-1-9 .b-container {
  align-self: center;
  margin-right: 2.0px;
  min-width: 125px;
}

.component-12-1.component-12-1-3 .x622369b636f18be6eacf49c4_3,
.component-12-1.component-12-1-4 .x622369b636f18be6eacf49c4_3,
.component-12-1.component-12-1-8 .x622369b636f18be6eacf49c4_3,
.component-12-1.component-12-1-9 .x622369b636f18be6eacf49c4_3 {
  margin-left: 25px;
}

