.x622369b7e403e7ddc4ce0939_6 {
  align-items: center;
  background-color: var(--green-white);
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  height: 50px;
  margin-left: 28px;
  margin-top: 26px;
  min-width: 50px;
  padding: 0 13px;
  transition: all 0.2s ease;
}

.x622369b7e403e7ddc4ce0939_6:hover {
  transform: scale(1.1);
}

.path-7 {
  height: 24px;
  object-fit: cover;
  width: 24px;
}

.x622369b7e403e7ddc4ce0939_6.x622369b7e403e7ddc4ce0939_6-3,
.x622369b7e403e7ddc4ce0939_6.x622369b7e403e7ddc4ce0939_6-4,
.x622369b7e403e7ddc4ce0939_6.x622369b7e403e7ddc4ce0939_6-8,
.x622369b7e403e7ddc4ce0939_6.x622369b7e403e7ddc4ce0939_6-9 {
  margin-left: 15px;
}

.x622369b7e403e7ddc4ce0939_6.x622369b7e403e7ddc4ce0939_6-10 {
  left: 353px;
  margin-left: unset;
  margin-top: unset;
  position: absolute;
  top: 115px;
}

